.quiz-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.quiz-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.quiz-container ul {
    list-style-type: none;
    padding: 0;
}

.quiz-container li {
    margin-bottom: 10px;
}

.quiz-button {
    background-color: rgb(118, 253, 165);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.quiz-button.submitted {
    background-color: gray;
}

.quiz-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.feedback-message {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}